@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .cursor-custom-pointer {
    cursor:
      url("/src/assets/custom-cursor-pointer.svg") 6 8,
      auto;
  }
  * {
    cursor:
      url("/src/assets/custom-cursor.svg") 8 8,
      auto;
  }

  @keyframes scrollWidth {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-66.75%);
    }
  }
  .animated-movement {
    display: flex;
    width: 300%;
    animation: scrollWidth 30s linear infinite;
  }
}
